<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo"
  style="text-decoration: none;"
>
  {{/*  {{ if $.Site.Params.Logo.path }}
    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />  */}}
    
    {{ range where .Site.Pages "Params.type" "book" }}
      {{ if .Params.type == "book" }}}
       <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
       <span class="logo__text"> /{{ $.Site.Params.Logo.logoText }}books/ </span>
       <span class="logo__cursor"></span>
      {{ else }}
      <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
      <span class="logo__text"> /{{ $.Site.Params.Logo.logoText }}</span>
      <span class="logo__cursor"></span>
      {{ end }}
    {{ end }}


    {{ range where .Site.Pages "Params.type" "post" }}
      {{ if .Pararms.type == "post" }}
      <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
      <span class="logo__text"> /{{ $.Site.Params.Logo.logoText }}{{ $.Page.File.BaseFileName }} </span>
      <span class="logo__cursor"></span>
      {{ else }}
      <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
      <span class="logo__text"> /{{ $.Site.Params.Logo.logoText }}</span>
      <span class="logo__cursor"></span>
      {{ end }}
    {{ end }}

</a>

